[submodule "vendor/opus"]
	path = vendor/opus
	url = https://github.com/altmp/opus.git
[submodule "tools/cotire"]
	path = tools/cotire
	url = https://github.com/sakra/cotire
[submodule "vendor/rnnoise"]
	path = vendor/rnnoise
	url = https://github.com/altmp/rnnoise-cmake.git
